@page "/schemaeditor/{packageid:guid}"
@using BudgetLambda.CoreLib.Database
@using static BudgetLambda.CoreLib.Component.DataSchema
@inject BudgetContext database
@*// list existing schema (edit)*@
@*// add new option*@
<MudContainer>
    <MudGrid>
        <h1>Edit Schema</h1>

        <MudForm Model="@schema" OnValidSubmit="@SaveSchema">
            <MudTextField @bind-Value="schema.SchemaName" Label="Schema Name" Required="true" />
            <MudTable Items="@schema.Mapping">
                <HeaderContent>
                    <MudTh>Type</MudTh>
                    <MudTh>Identifier</MudTh>
                    <MudTh></MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>
                            <MudSelect T="string" Label="Coffee" AnchorOrigin="Origin.BottomCenter">
                                <MudSelectItem Value="@("Cappuccino")" />
                                <MudSelectItem Value="@("Cafe Latte")" />
                                <MudSelectItem Value="@("Espresso")" />
                            </MudSelect>
                   </MudTd>
                    <MudTd>
                        <MudTextField @bind-Value="context.Identifier" Label="Identifier" Required="true" />
                    </MudTd>
                    <MudTd>
                        <MudIconButton Icon="MudIcons.Outlined.Delete" Color="Color.Error" Size="Size.Small" OnClick="@(() => RemoveDefinition(context.DefinitionID))" />
                    </MudTd>
                </RowTemplate>
            </MudTable>
            <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="@AddDefinition">Add</MudButton>
            <MudButton Color="Color.Primary" Variant="Variant.Filled" Type="submit">Save</MudButton>
        </MudForm>
    </MudGrid>
</MudContainer>

